@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-950 text-gray-100 font-sans;
  }
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-gray-900;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-700 rounded;
  }
}
